/datasets/*
/models/*
/ONNX/DotnetApp1/bin/*
ONNX/DotnetApp1/images/yolov3/perros2.jpg
ONNX/DotnetApp1/images/yolov3/comprender_a_tu_perro.jpg
keras-applications-master/tests/data/elephant.jpg
ONNX/DotnetApp1/obj/Debug/netcoreapp3.0/*
py/tests/data/elephant.jpg
onnx_models/*
virtual_enviroment/*
java/StanfordNPLCore/corenpl1/target/corenpl1-corenpl1.jar
java/StanfordNPLCore/corenpl1/target/test-classes/corenpl1/AppTest.class
*.class
java/StanfordNPLCore/corenpl1/target/acmartifactid-1.0-SNAPSHOT-jar-with-dependencies.jar
cpp/yolov3/Yolov3/Debug/*
cpp/yolov3/Yolov3/.vs/Yolov3/v16/*
